<!DOCTYPE html>
<html lang="en" style="height:100%;">
{{- template "head" .}}
<body style="min-height:100%;">
<header hx-boost="true" class="z-50 flex h-12 w-full items-center justify-between bg-gray-800 shadow print:hidden">
    <div class="flex h-full items-center">
        <div class="flex h-full w-24 items-center text-center text-white">
            <a href="/" hx-get="/" hx-push-url="/" hx-target="body" class="pl-4 font-bold text-white hover:text-red-600">Recipya</a>
        </div>
    </div>
    {{- if .IsAuthenticated}}
        <div class="flex justify-center" style="flex: 1">
            <a href="/recipes/add" id="add-recipe"
               hx-get="/recipes/add" hx-target="#content" hx-push-url="/recipes/add"
               class="flex cursor-pointer items-center px-4 py-2 rounded-lg bg-blue-100 hover:bg-green-600 hover:text-white">
                Add recipe
            </a>
        </div>
        <div class="flex">
            {{template "avatar" .}}
        </div>
    {{else}}
        <div class="flex">
            <div class="flex-auto">
                <a href="/auth/login" class="mr-4 rounded-lg px-2 py-1 text-white hover:bg-green-600">Log In</a>
            </div>
            <div class="flex-auto">
                <a href="/auth/register"
                   class="mr-4 rounded-lg bg-blue-100 px-2 py-1 hover:bg-red-600 hover:text-white">
                    Sign Up
                </a>
            </div>
        </div>
    {{end}}
</header>
<div id="fullscreen-loader" class="htmx-indicator"></div>
<main class="inline-flex h-[95%] w-full">
    <div id="content" class="w-full">
        {{- template "content" .}}
    </div>
</main>
{{- template "toast" .}}
</body>
</html>