<!DOCTYPE html>
<html lang="en" class="h-full">
{{- template "head" .}}
<body class="min-h-full text-gray-900 dark:text-white dark:bg-gray-800">
<header hx-boost="true"
        class="flex h-12 w-full items-center justify-between bg-gray-100 dark:bg-black shadow-sm shadow-gray-600 print:hidden">
    <div class="flex h-full items-center">
        <button hx-get="/" hx-push-url="true" hx-target="{{if .IsAuthenticated}}#content{{else}}body{{end}}" class="pl-4 font-semibold hover:text-red-600">
            Recipya
        </button>
    </div>
    {{- if .IsAuthenticated -}}
        <div class="flex flex-1 justify-center">
            <div id="content-title" class="font-semibold hidden md:block md:text-xl">{{.Title}}</div>
            <button id="add-recipe" class="app-bar-center-button"
                    hx-get="/recipes/add"
                    hx-target="#content"
                    hx-push-url="true">
                Add recipe
            </button>
            <button id="add-cookbook" class="app-bar-center-button"
                    hx-post="/cookbooks"
                    hx-prompt="Enter the name of your cookbook"
                    hx-target=".cookbooks-display"
                    hx-swap="beforeend">
                Add cookbook
            </button>
        </div>
        <div class="flex">
            {{template "avatar" .}}
        </div>
    {{- else -}}
        <div class="flex">
            <a href="/auth/login"
               class="flex-auto mr-2 rounded-lg px-2 py-1 hover:text-white hover:bg-green-600">
                Log In
            </a>
            <a href="/auth/register"
               class="flex-auto mr-4 rounded-lg px-2 py-1 bg-amber-300 dark:bg-orange-600 hover:text-white hover:bg-red-600">
                Sign Up
            </a>
        </div>
    {{- end -}}
</header>
<div id="fullscreen-loader" class="htmx-indicator"></div>
<main hx-ext="ws" ws-connect="/ws" class="inline-flex min-h-[95vh] w-full">
    {{- if .IsAuthenticated -}}
        <aside id="recipes-sidebar" class="hidden border-r bg-gray-300 mt-[0.04rem] dark:bg-gray-900">
            <ul>
                <li id="recipes-sidebar-recipes"
                    class="recipes-sidebar-selected"
                    hx-get="/recipes" hx-target="#content"
                    hx-push-url="true" hx-swap-oob="true"
                    _="on load if location.pathname is '/recipes' or location.pathname is '/' then add .recipes-sidebar-selected else remove .recipes-sidebar-selected then add .recipes-sidebar-not-selected">
                    <img src="/static/img/cherries.svg" alt="">
                    <span class="hidden md:block ml-1">Recipes</span>
                </li>
                <li id="recipes-sidebar-cookbooks"
                    class="recipes-sidebar-not-selected"
                    hx-get="/cookbooks" hx-target="#content"
                    hx-push-url="true" hx-swap-oob="true"
                    _="on load if location.pathname is '/cookbooks' then remove .recipes-sidebar-not-selected add .recipes-sidebar-selected">
                    <img src="/static/img/cookbook.svg" alt="">
                    <span class="hidden md:block ml-1">Cookbooks</span>
                </li>
            </ul>
        </aside>
    {{- end -}}
    <div id="content" class="w-full">
        {{- template "content" .}}
    </div>
</main>
{{- template "toast" .}}
{{- template "toast-ws"}}
{{- template "toast-ws-js" -}}
</body>
</html>