<!DOCTYPE html>
<html lang="en" class="h-full">
{{- template "head" .}}
<body class="min-h-full text-gray-900 dark:text-white dark:bg-gray-800">
<header hx-boost="true"
        class="flex h-12 w-full items-center justify-between bg-gray-100 dark:bg-black shadow-sm shadow-gray-600 print:hidden">
    <div class="flex h-full items-center">
        <button hx-get="/" hx-push-url="true" hx-target="#content" class="pl-4 font-semibold hover:text-red-600">Recipya</button>
    </div>
    {{- if .IsAuthenticated}}
        <div class="flex flex-1 justify-center">
            <button id="add-recipe" hx-get="/recipes/add" hx-target="#content" hx-push-url="true"
                    class="flex cursor-pointer items-center px-4 py-2 rounded-lg bg-blue-500 text-white hover:bg-green-600">
                Add recipe
            </button>
        </div>
        <div class="flex">
            {{template "avatar" .}}
        </div>
    {{else}}
        <div class="flex">
            <a href="/auth/login"
               class="flex-auto mr-2 rounded-lg px-2 py-1 hover:text-white hover:bg-green-600">
                Log In
            </a>
            <a href="/auth/register"
               class="flex-auto mr-4 rounded-lg px-2 py-1 bg-amber-300 dark:bg-orange-600 hover:text-white hover:bg-red-600">
                Sign Up
            </a>
        </div>
    {{end}}
</header>
<div id="fullscreen-loader" class="htmx-indicator"></div>
<main class="inline-flex min-h-[95vh] w-full">
    <div id="content" class="w-full">
        {{- template "content" .}}
    </div>
</main>
{{- template "toast" .}}
</body>
</html>