bin/
coverage.html
data/
docs/website/.hugo_build.lock
docs/website/public
docs/website/themes/hextra
releases/v*
releases/nightly
**/.env
**/node_modules/
static/css/tailwind.css
web/components/*_templ.go
web/components/*_templ.txt
web/emails/transpiled/*.gohtml