{{define "title"}}{{.RecipeData.Recipe.Name}}{{end}}

{{define "content"}}
{{- $showEditControls := not .RecipeData.HideEditControls -}}
{{- with .RecipeData.Recipe -}}
<div class="grid max-w-6xl grid-cols-6 px-4 pb-4 m-auto print:m-0 print:p-0">
  <div class="grid grid-cols-6 col-span-6 text-lg border border-gray-900 md:text-xl rounded-t-md">
    {{- if $showEditControls -}}
    <div class="grid justify-start col-span-1 place-content-center print:invisible">
      <a href="/recipes/{{.ID}}/edit" class="ml-2" title="Edit recipe">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 hover:text-red-600" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
        </svg>
      </a>
    </div>
    <h1 class="grid col-span-4 py-2 font-bold place-content-center">
      {{.Name}}
    </h1>
    <div class="grid justify-end col-span-1 place-content-center print:invisible">
      <div class="grid grid-flow-col">
        <button class="mr-2" onclick="print()" title="Print recipe">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 hover:text-red-600" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z" />
          </svg>
        </button>
        <button class="mr-2" onclick="deleteRecipe()" title="Delete recipe">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 hover:text-red-600" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg>
        </button>
      </div>
    </div>
    {{- else -}}
    <div class="grid col-span-1"></div>
    <h1 class="grid col-span-4 py-2 font-bold place-content-center">
      {{.Name}}
    </h1>
    <div class="grid justify-end col-span-1 place-content-center print:invisible">
      <button class="mr-2" onclick="print()" title="Print recipe">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 hover:text-red-600" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z" />
        </svg>
      </button>
    </div>
    {{- end -}}
  </div>

  <div
    class="w-full grid-flow-col col-span-6 border-b border-l border-r border-black place-self-end md:border-r-0 md:col-span-4 print:hidden justify-self-start md:border-b-0">
    <img id="output" class="text-center" style="width: 520px; height: 432px"
      src="{{- if isUuidValid .Image -}}/data/img/{{.Image}}{{- end -}}" alt="Image of the {{.Name}} recipe">
  </div>

  <div
    class="grid grid-flow-col col-span-6 border-b border-l border-black md:border-l md:grid-flow-row md:col-span-2 md:grid print:border-b md:border-r md:border-b-0">
    <div class="col-span-2 p-2 border-r border-black md:col-span-3 md:grid md:place-items-center md:border-r-0">
      <span
        class="flex items-center justify-center p-2 font-medium text-blue-700 bg-blue-100 border border-blue-300 rounded-full md:w-1/3">
        <span class="text-sm font-normal leading-none">{{.Category}}</span>
      </span>
    </div>

    <div class="grid col-span-2 py-2 border-black md:col-span-3 place-items-center md:border-t">
      <p class="text-sm text-center">{{.Yield}} servings</p>
    </div>

    <div
      class="flex items-center justify-center col-span-2 border-l border-r border-black md:border-l-0 md:border-r-0 md:border-b md:col-span-3 md:border-t md:py-2">
      {{- if isUrl .URL -}}
      <a class="p-1 text-sm duration-300 border rounded-lg hover:bg-gray-800 hover:text-white center" href="{{.URL}}"
        target="_blank">
        Source
      </a>
      {{- else -}}
      <p>Source: {{.URL}}</p>
      {{- end -}}
    </div>
  </div>

  <div
    class="col-span-6 border-b border-l border-r border-black md:col-span-4 md:border-r-0 print:col-span-5 print:border-r print:border-t-0 md:border-t">
    <p class="p-2 text-sm whitespace-pre-line">{{.Description}}</p>
    <div class="hidden print:block print:p-2">
      <h1 class="text-sm"><b>Nutrition Facts</b></h1>
      <p class="text-xs">
        Per 100g: {{.Nutrition.Calories}} calories;
        total carbohydrates {{.Nutrition.TotalCarbohydrates}}
        sugars {{.Nutrition.Sugars}}
        protein {{.Nutrition.Protein}};
        total fat {{.Nutrition.TotalFat}};
        saturated fat {{.Nutrition.SaturatedFat}};
        cholesterol {{.Nutrition.Cholesterol}};
        sodium {{.Nutrition.Sodium}}
        fiber {{.Nutrition.Fiber}}.
      </p>
    </div>
  </div>

  {{with .Nutrition}}
  <div class="col-span-3 border-b border-l border-r border-black md:col-span-1 print:hidden">
    <div class="inline-block min-w-full overflow-x-auto align-middle">
      <div class="overflow-hidden border-gray-200">
        <table class="min-w-full text-xs divide-y divide-gray-200 table-auto">
          <thead class="h-12 font-medium tracking-wider text-white bg-gray-800">
            <tr>
              <th scope="col" class="text-right">
                <p class="text-center">Nutrition<br>(per 100g)</p>
              </th>
              <th scope="col" class="text-center">
                <p>
                  Amount<br>(optional)
                </p>
              </th>
            </tr>
          </thead>
          <tbody class="text-right text-gray-500 bg-white divide-y divide-gray-200">
            <tr>
              <td>
                <p>Calories:</p>
              </td>
              <td class="py-3 text-center">
                {{.Calories}}
              </td>
            </tr>
            <tr class="bg-gray-100">
              <td>
                <p>Total carbs:</p>
              </td>
              <td class="py-3 text-center">
                {{.TotalCarbohydrates}}
              </td>
            </tr>
            <tr>
              <td>
                <p>Sugars:</p>
              </td>
              <td class="py-3 text-center">
                {{.Sugars}}
              </td>
            </tr>
            <tr class="bg-gray-100">
              <td>
                <p>Protein:</p>
              </td>
              <td class="py-3 text-center">
                {{.Protein}}
              </td>
            </tr>
            <tr>
              <td>
                <p>Total fat:</p>
              </td>
              <td class="py-3 text-center">
                {{.TotalFat}}
              </td>
            </tr>
            <tr class="bg-gray-100">
              <td>
                <p>Saturated fat:</p>
              </td>
              <td class="py-3 text-center">
                {{.SaturatedFat}}
              </td>
            </tr>
            <tr>
              <td>
                <p>Cholesterol:</p>
              </td>
              <td class="py-3 text-center">
                {{.Cholesterol}}
              </td>
            </tr>
            <tr class="bg-gray-100">
              <td>
                <p>Sodium:</p>
              </td>
              <td class="py-3 text-center">
                {{.Sodium}}
              </td>
            </tr>
            <tr>
              <td>
                <p>Fiber:</p>
              </td>
              <td class="py-3 text-center">
                {{.Fiber}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {{- end -}}

  {{- with .Times -}}
  <div class="col-span-3 border-b border-r border-black md:col-span-1 print:col-span-1">
    <div class="inline-block min-w-full overflow-x-auto align-middle">
      <div class="overflow-hidden border-gray-200">
        <table class="min-w-full text-xs divide-y divide-gray-200">
          <thead class="h-12 font-medium tracking-wider text-white bg-gray-800 border-l border-white">
            <tr>
              <th scope="col" class="text-right">Time</th>
              <th scope="col" class="text-center">h:m:s</th>
            </tr>
          </thead>
          <tbody class="text-right text-gray-500 bg-white divide-y divide-gray-200">
            <tr>
              <td>Preparation:</td>
              <td class="py-3 text-center">
                <time datetime="{{fmtDuration .Prep true}}">{{fmtDuration .Prep false}}</time>
              </td>
            </tr>
            <tr class="bg-gray-100">
              <td>Cooking:</td>
              <td class="w-1/2 py-3 text-center">
                <time datetime="{{fmtDuration .Cook true}}">{{fmtDuration .Cook false}}</time>
              </td>
            </tr>
            <tr class="font-bold">
              <td>Total:</td>
              <td class="w-1/2 py-3 text-center">
                <time datetime="{{fmtDuration .Total true}}">{{fmtDuration .Total false}}</time>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {{- end -}}

  <div
    class="col-span-6 py-2 border-b border-l border-r border-black md:col-span-2 md:border-r-0 print:col-span-2 print:border-r-0">
    <h2 class="pb-2 m-auto text-sm font-bold text-center text-gray-600 underline ">Ingredients</h2>
    <ul class="grid px-6">
      {{$len := len .Instructions}}
      {{- range $i, $e := .Ingredients.Values -}}
      <li
        class="min-w-full py-2 pl-4 text-sm select-none hover:bg-gray-200 {{if eq $i 0}}rounded-t-lg{{else if eq $i $len}}rounded-b-lg{{end}}"
        onmousedown="highlight(event)">
        <input type="checkbox" id="ingredient-{{$i}}" class="mt-1">
        <span class="pl-2">{{$e}}</span>
      </li>
      {{- end -}}
    </ul>
  </div>

  <div
    class="col-span-6 py-2 pb-8 border-b border-l border-r border-black rounded-bl-lg md:rounded-bl-none md:col-span-4 print:rounded-bl-none print:col-span-4">
    <h2 class="pb-2 m-auto text-sm font-bold text-center text-gray-600 underline ">Instructions</h2>
    <ul class="grid px-6">
      {{$len := len .Instructions}}
      {{- range $i, $e := .Instructions -}}
      <li
        class="inline-flex min-w-full p-2 text-sm select-none hover:bg-gray-200 {{if eq $i 0}}rounded-t-lg{{else if eq $i $len}}rounded-b-lg{{end}}"
        onmousedown="highlight(event)">
        <input type="checkbox" id="instruction-{{$i}}" class="mt-1">
        <span class="pl-2 whitespace-pre-line">{{$e}}</span>
      </li>
      {{- end -}}
    </ul>
  </div>
  <div class="hidden xl:col-span-3 xl:visible"></div>
</div>
{{- end -}}
{{- end -}}

{{define "js"}}
<script>
  const highlight = (event) => {
    let target = event.target
    while (target.tagName !== 'LI') {
      target = target.parentElement
    }
    const checkbox = target.firstElementChild

    const classes = ['bg-green-200', 'hover:bg-gray-200', 'hover:bg-green-400']
    classes.forEach(c => {
      target.classList.toggle(c)
      if (event.target.tagName !== "INPUT") {
        checkbox.checked = Array.from(target.classList).includes(c)
      }
    })
  }

  const deleteRecipe = () => {
    if (!confirm('Are you sure you want to delete this recipe?')) {
      return
    }

    const id = `{{.RecipeData.Recipe.ID}}`.trim()
    fetch(`${document.location.origin}/recipes/${id}`, {
      method: 'DELETE',
      redirect: 'follow'
    }).then((res) => {
      sessionStorage.setItem('showSuccessToast', "Recipe '{{.RecipeData.Recipe.Name}}' has been deleted.");
      window.location.href = res.url
    }).catch((err) => {
      showErrorToast(`Could not delete recipe: ${err}`)
    })
  }
</script>
{{end}}