@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .app-bar-center-button {
        @apply flex cursor-pointer items-center px-4 py-2 rounded-lg bg-blue-500 text-white hover:bg-green-600
    }

    .link {
        @apply underline text-blue-600 hover:text-blue-600 visited:text-purple-600 dark:hover:text-blue-300 dark:visited:text-purple-300 dark:text-blue-400
    }

    .text-input {
        @apply w-full rounded-lg bg-gray-100 px-4 py-2 dark:bg-gray-900
    }

    .pagination-ellipsis {
        @apply inline-flex items-center px-4 py-2 text-sm border border-gray-300 select-none
    }

    .pagination-hover {
        @apply hover:bg-gray-50 dark:hover:bg-gray-700
    }

    .pagination-selected {
        @apply z-10 px-4 py-2 text-sm text-indigo-600 border border-indigo-500 bg-indigo-50
    }

    .pagination-selected-edge-button-mobile {
        @apply w-20 z-10 px-4 py-2 ml-3 border border-gray-300 rounded cursor-not-allowed
    }

    .pagination-selected-middle-button-mobile {
        @apply w-20 px-4 py-2 border border-gray-300 rounded select-none
    }

    .pagination-square {
        @apply inline-flex items-center text-sm border border-gray-300
    }

    .recipes-sidebar-selected {
        @apply flex bg-green-600 p-1 pr-1 md:pr-4 text-white select-none cursor-pointer hover:bg-red-600 hover:text-white;
    }

    .recipes-sidebar-not-selected {
        @apply flex p-1 pr-1 md:pr-4 select-none cursor-pointer hover:bg-red-600 hover:text-white;
    }
}