# Documentation for the environment variables: https://recipes.musicavis.ca/docs/installation/docker/#environment-variables
services:
  web:
    image: reaper99/recipya:nightly
    container_name: recipya
    restart: unless-stopped
    environment:
      RECIPYA_EMAIL: "my@email.com"
      RECIPYA_EMAIL_SENDGRID: "API_KEY"
      RECIPYA_DI_KEY: "KEY_1"
      RECIPYA_DI_ENDPOINT: "https://{resource}.cognitiveservices.azure.com/"
      RECIPYA_SERVER_AUTOLOGIN: false
      RECIPYA_SERVER_IS_DEMO: false
      RECIPYA_SERVER_IS_PROD: false
      RECIPYA_SERVER_NO_SIGNUPS: false
      RECIPYA_SERVER_PORT: 8078
      RECIPYA_SERVER_URL: "http://0.0.0.0"
    ports:
      - "<host-port>:8078"
    volumes:
      - "recipya-data:/home/recipya/.config/Recipya"
    # Default to user and group 1000
    user: "${UID:-1000}:${GID:-1000}"

volumes:
  recipya-data:
