beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.4
extruct==0.13.0
html-text==0.5.2
html5lib==1.1
idna==3.2
isodate==0.6.0
jstyleson==0.0.2
lxml==4.6.3
mf2py==1.1.2
pyparsing==2.4.7
pyRdfa3==3.5.3
rdflib==6.0.0
rdflib-jsonld==0.5.0
recipe-scrapers==13.3.5
requests==2.26.0
scrape-schema-recipe==0.2.0
six==1.16.0
soupsieve==2.2.1
urllib3==1.26.6
w3lib==1.22.0
webencodings==0.5.1
