{{define "content"}}
<section class="flex h-screen w-full items-center justify-center bg-indigo-100">
    <div class="w-11/12 max-w-lg md:w-2/5 lg:w-2/5">
        {{- template "auth-card-content" . -}}
    </div>
</section>
{{end}}}