{{define "add-recipe"}}
    <title hx-swap-oob="true">Add Recipe | Recipya</title>

    <div class="grid w-full h-full grid-cols-1 gap-8 px-4 py-4 md:grid-cols-2 md:grid-rows-2 xl:m-auto xl:max-w-6xl md:grid-flow-col">
        <div class="shadow-lg rounded-xl h-96">
            <img class="object-cover w-full h-40 rounded-t-xl" src="/static/img/recipes-new/manual.webp"
                 alt="Writing on a piece of paper with a traditional pen."/>
            <div class="h-40 px-6 py-4">
                <div class="mb-2 text-xl font-bold">Manual</div>
                <p class="text-base text-gray-700">
                    Add a new recipe by filling out its content manually.
                </p>
            </div>
            <hr>
            <div class="px-6 pt-4 pb-2">
                <a class="flex justify-center text-gray-900 duration-300 border-2 border-gray-800 rounded-lg hover:bg-gray-800 hover:text-white center"
                   href="/recipes/add/manual">
                    Fill In
                </a>
            </div>
        </div>

        <div class="shadow-lg rounded-xl h-96">
            <img class="object-cover w-full h-40 rounded-t-xl" src="/static/img/recipes-new/import.webp"
                 alt="Writing on a piece of paper with a traditional pen."/>
            <div class="h-40 px-6 py-4">
                <div class="mb-2 text-xl font-bold">Website</div>
                <p class="text-base text-gray-700">
                    Fetch a recipe from one of the
                    <button id="search-button" class="underline"
                            hx-get="/recipes/supported-websites"
                            hx-target="#search-results"
                            onclick="document.querySelector('#supported-websites-dialog').showModal()"
                    >
                        supported
                    </button>
                    websites.
                </p>
            </div>
            <hr>
            <div class="px-6 pt-4 pb-2">
                <button class="flex justify-center w-full duration-300 border-2 border-gray-800 rounded-lg hover:bg-gray-800 hover:text-white center"
                        hx-target="#content"
                        hx-push-url="/recipes/add/unsupported-website"
                        hx-prompt="Enter the recipe's URL"
                        hx-post="/recipes/add/website"
                        hx-indicator="#fullscreen-loader">
                    Fetch
                </button>
            </div>
        </div>

        <dialog id="supported-websites-dialog" class="h-2/3 ">
            <h3 class="flex justify-between items-center mb-1">
                <span class="flex font-bold">
                    Search Websites
                    <span id="dialog-indicator" class="pl-2 htmx-indicator">
                        <img src="/static/img/bars.svg" alt="Loading..."/>
                    </span>
                </span>
                <button type="button" class="hover:bg-gray-800 hover:text-white px-2 border rounded"
                        onclick="document.querySelector('#supported-websites-dialog').close()">
                    X
                </button>
            </h3>

            <label>
                <input class="w-full mb-1 border border-gray-300 py-2 px-3 text-gray-700 rounded-lg focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 focus:ring-opacity-50"
                       type="search" name="search" placeholder="Search a website..."
                       hx-post="/recipes/supported-websites"
                       hx-trigger="keyup changed delay:500ms, search"
                       hx-target="#search-results"
                       hx-indicator="#dialog-indicator">
            </label>

            <table class="border-collapse">
                <thead>
                <tr>
                    <th class="bg-blue-100 border text-left px-8 py-2 w-4">Number</th>
                    <th class="bg-blue-100 border text-left px-8 py-2 w-72">Website</th>
                </tr>
                </thead>
                <tbody id="search-results"></tbody>
            </table>
        </dialog>

        <div class="shadow-lg rounded-xl h-96">
            <img class="object-cover w-full h-40 rounded-t-xl" src="/static/img/recipes-new/camera.webp"
                 alt="Writing on a piece of paper with a traditional pen."/>
            <div class="h-40 px-6 py-4">
                <div class="mb-2 text-xl font-bold">Scan</div>
                <p class="text-base text-gray-700">
                    Upload an image of the recipe you want to add or take a picture using
                    your device's camera.
                </p>
            </div>
            <hr>
            <div class="px-6 pt-4 pb-2">
                <button id="modal__upload-open-button"
                        class="flex justify-center w-full text-gray-900 duration-300 border-2 border-gray-800 rounded-lg hover:bg-gray-800 hover:text-white center"
                        onclick="openModal(event)">
                    Upload
                </button>
            </div>
        </div>

        <div class="shadow-lg rounded-xl h-96">
            <img class="object-cover w-full h-40 rounded-t-xl" src="/static/img/recipes-new/schema.webp"
                 alt="Writing on a piece of paper with a traditional pen."/>
            <div class="h-40 px-6 py-4">
                <div class="mb-2 text-xl font-bold">Import</div>
                <p class="text-base text-gray-700">
                    Import recipes in the that adhere to the
                    <a href="https://schema.org/Recipe" target="_blank"
                       class="text-blue-600 underline hover:text-blue-800 visited:text-purple-600">
                        recipe schema</a> standard,
                    i.e. your Nextcloud recipes.
                </p>
            </div>
            <hr>
            <div class="px-6 pt-4 pb-2">
                <button class="flex justify-center w-full duration-300 border-2 border-gray-800 rounded-lg hover:bg-gray-800 hover:text-white center"
                        onclick="document.querySelector('#import-recipes-dialog').showModal()">
                    Import
                </button>
            </div>
        </div>

        <dialog id="import-recipes-dialog">
            <h3 class="flex justify-between items-center mb-4">
                <span class="flex font-bold">Import Recipes</span>
                <button type="button" class="hover:bg-gray-800 hover:text-white px-2 border rounded"
                        onclick="document.querySelector('#import-recipes-dialog').close()">
                    X
                </button>
            </h3>

            <form hx-post="/recipes/add/import" enctype="multipart/form-data" hx-indicator="#fullscreen-loader"
                  hx-swap="none">
                <div class="grid mb-5">
                    <label for="import-dialog-file" class="text-sm font-bold text-gray-600 mb-1">
                        Choose files in the .json or .zip format.
                    </label>
                    <input id="import-dialog-file" type="file" name="files" accept=".json,.zip" multiple
                           class="p-2 border border-gray-300 rounded-lg shadow focus:outline-none focus:ring-2 focus:ring-purple-600">
                </div>
                <button type="submit"
                        class="w-full p-2 font-semibold text-white duration-300 bg-blue-500 border-2 rounded-lg hover:bg-blue-800"
                        onclick="document.querySelector('#import-recipes-dialog').close()"
                >
                    Submit
                </button>
            </form>
        </dialog>
    </div>
{{end}}

{{define "add-recipe-manual"}}
    <title hx-swap-oob="true">Manual | Recipya</title>

    <form hx-post="/recipes/add/manual" enctype="multipart/form-data"
          class="grid max-w-6xl grid-cols-6 px-4 pb-4 m-auto mt-4">
        <div class="col-span-6 text-lg border border-gray-900 md:text-xl rounded-t-md">
            <label for="title" class="hidden"></label>
            <input type="text" name="title" id="title" placeholder="Title of the recipe*" required
                   class="w-full py-2 font-bold text-center text-gray-600 placeholder-gray-400 rounded-t-lg">
        </div>

        <div class="col-span-6 border-b border-l border-r border-black md:col-span-4">
            <div class="flex flex-col p-2">
                <label for="description" class="text-sm font-bold text-gray-600">
                    Description <sup class="text-red-600">*</sup>
                </label>
                <textarea id="description" name="description" rows="10" class="p-2 border border-gray-300 rounded-t-lg"
                          placeholder="This Thai curry chicken will make you drool..." required></textarea>
            </div>
        </div>

        <div class="col-span-3 border-b border-l border-r border-black md:border-l-0 md:col-span-1">
            <div class="inline-block min-w-full overflow-x-auto align-middle">
                <div class="overflow-hidden border-gray-200">
                    <table class="min-w-full text-xs divide-y divide-gray-200">
                        <thead class="h-12 font-medium tracking-wider text-white bg-gray-800">
                        <tr>
                            <th scope="col" class="text-right md:text-center">
                                <p>Nutrition<br>(per 100g)</p>
                            </th>
                            <th scope="col" class="text-center">
                                <p>Amount<br>(optional)</p>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="text-right text-gray-500 bg-white divide-y divide-gray-200">
                        <tr>
                            <td>
                                <p>Calories:</p>
                            </td>
                            <td class="py-3 text-center">
                                <label for="calories" class="hidden"></label>
                                <input type="text" id="calories" name="calories" placeholder="368kcal"
                                       class="w-3/4 p-1 text-gray-600 placeholder-gray-400 bg-white border border-gray-400">
                            </td>
                        </tr>
                        <tr class="bg-gray-100">
                            <td>
                                <p>Total carbs:</p>
                            </td>
                            <td class="py-3 text-center">
                                <label for="total-carbohydrates" class="hidden"></label>
                                <input type="text" id="total-carbohydrates" name="total-carbohydrates" placeholder="35g"
                                       class="w-3/4 p-1 text-gray-600 placeholder-gray-400 bg-white border border-gray-400">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Sugars:</p>
                            </td>
                            <td class="py-3 text-center">
                                <label for="sugars" class="hidden"></label>
                                <input type="text" id="sugars" name="sugars" placeholder="3g"
                                       class="w-3/4 p-1 text-gray-600 placeholder-gray-400 bg-white border border-gray-400">
                            </td>
                        </tr>
                        <tr class="bg-gray-100">
                            <td>
                                <p>Protein:</p>
                            </td>
                            <td class="py-3 text-center">
                                <label for="protein" class="hidden"></label>
                                <input type="text" id="protein" name="protein" placeholder="21g"
                                       class="w-3/4 p-1 text-gray-600 placeholder-gray-400 bg-white border border-gray-400">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Total fat:</p>
                            </td>
                            <td class="py-3 text-center">
                                <label for="total-fat" class="hidden"></label>
                                <input type="text" id="total-fat" name="total-fat" placeholder="15g"
                                       class="w-3/4 p-1 text-gray-600 placeholder-gray-400 bg-white border border-gray-400">
                            </td>
                        </tr>
                        <tr class="bg-gray-100">
                            <td>
                                <p>Saturated fat:</p>
                            </td>
                            <td class="py-3 text-center">
                                <label for="saturated-fat" class="hidden"></label>
                                <input type="text" id="saturated-fat" name="saturated-fat" placeholder="1.8g"
                                       class="w-3/4 p-1 text-gray-600 placeholder-gray-400 bg-white border border-gray-400">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Cholesterol:</p>
                            </td>
                            <td class="py-3 text-center">
                                <label for="cholesterol" class="hidden"></label>
                                <input type="text" id="cholesterol" name="cholesterol" placeholder="1.1mg"
                                       class="w-3/4 p-1 text-gray-600 placeholder-gray-400 bg-white border border-gray-400">
                            </td>
                        </tr>
                        <tr class="bg-gray-100">
                            <td>
                                <p>Sodium:</p>
                            </td>
                            <td class="py-3 text-center">
                                <label for="sodium" class="hidden"></label>
                                <input type="text" id="sodium" name="sodium" placeholder="100mg"
                                       class="w-3/4 p-1 text-gray-600 placeholder-gray-400 bg-white border border-gray-400">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Fiber:</p>
                            </td>
                            <td class="py-3 text-center">
                                <label for="fiber" class="hidden"></label>
                                <input type="text" id="fiber" name="fiber" placeholder="8g"
                                       class="w-3/4 p-1 text-gray-600 placeholder-gray-400 bg-white border border-gray-400">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-span-3 border-b border-r border-black md:col-span-1">
            <div class="inline-block min-w-full overflow-x-auto align-middle">
                <div class="overflow-hidden border-gray-200">
                    <table class="min-w-full text-xs divide-y divide-gray-200">
                        <thead class="h-12 font-medium tracking-wider text-white bg-gray-800 border-l border-white">
                        <tr>
                            <th scope="col" class="text-right">Time</th>
                            <th scope="col" class="text-center">h:m:s</th>
                        </tr>
                        </thead>
                        <tbody class="text-right text-gray-500 bg-white divide-y divide-gray-200">
                        <tr>
                            <td>
                                <p>Preparation:</p>
                            </td>
                            <td class="py-3 text-center">
                                <label for="time-preparation" class="hidden"></label>
                                <input type="text" id="time-preparation" name="time-preparation" value="00:15:00"
                                       class="w-full p-1 text-gray-600 placeholder-gray-400 bg-white border border-gray-400 html-duration-picker">
                            </td>
                        </tr>
                        <tr class="bg-gray-100">
                            <td>
                                <p>Cooking:</p>
                            </td>
                            <td class="w-1/2 py-3 text-center">
                                <label for="time-cooking" class="hidden"></label>
                                <input type="text" id="time-cooking" name="time-cooking" value="00:30:00"
                                       class="w-full p-1 text-gray-600 placeholder-gray-400 bg-white border border-gray-400 html-duration-picker">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-span-6 py-2 border-b border-l border-r border-black md:col-span-2 md:border-r-0">
            <fieldset class="text-center border-none">
                <legend class="pb-2 m-auto text-sm font-bold text-gray-600 ">
                    <span class="underline">Ingredients</span> <sup class="text-red-600 no-underline">*</sup>
                </legend>
                <ol id="ingredients-list" class="pl-6 list-decimal">
                    <li class="pb-2 pl-2">
                        <label>
                            <input type="text" name="ingredient-1" placeholder="Ingredient #1" required
                                   class="w-8/12 py-1 text-gray-600 placeholder-gray-400 bg-white border border-gray-400"
                                   onkeydown="handleKeyDownIngredient(event)">
                        </label>
                        <button type="button"
                                class="w-10 h-10 text-center duration-300 bg-green-300 border border-gray-800 rounded-lg md:w-7 md:h-7 hover:bg-green-600 hover:text-white center"
                                title="Shortcut: Enter"
                                hx-post="/recipes/add/manual/ingredient"
                                hx-target="#ingredients-list"
                                hx-swap="beforeend"
                                hx-include="[name^='ingredient']">
                            +
                        </button>
                        <button type="button"
                                class="w-10 h-10 duration-300 bg-red-300 border border-gray-800 rounded-lg md:w-7 md:h-7 hover:bg-red-600 hover:text-white center"
                                hx-target="#ingredients-list"
                                hx-post="/recipes/add/manual/ingredient/1"
                                hx-include="[name^='ingredient']">
                            -
                        </button>
                        <div class="inline-block h-4 cursor-move handle">
                            <svg xmlns="http://www.w3.org/2000/svg" class="md:w-4 md:h-4 w-7 h-7" fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M7 16V4m0 0L3 8m4-4l4 4m6 0v12m0 0l4-4m-4 4l-4-4"/>
                            </svg>
                        </div>
                    </li>
                </ol>
            </fieldset>
        </div>
        <div class="col-span-6 py-2 pb-8 pl-2 border-b border-l border-r border-black md:col-span-4">
            <fieldset class="text-center border-none">
                <legend class="m-auto text-sm font-bold text-gray-600">
                    <span class="underline">Instructions</span> <sup class="text-red-600">*</sup>
                </legend>
                <ol id="instructions-list" class="pl-4 list-decimal">
                    <li class="pt-2 pl-2 md:pl-0">
                        <label>
                          <textarea required name="instruction-1" rows="3"
                                    class="w-9/12 border border-gray-300 md:w-5/6 xl:w-11/12"
                                    placeholder="Instruction #1"
                                    onkeydown="handleKeyDownInstruction(event)"
                          ></textarea>
                        </label>
                        <div class="inline-flex flex-col-reverse">
                            <button type="button"
                                    class="mt-4 md:flex-initial w-10 h-10 right-0.5 md:w-7 md:h-7 md:right-auto duration-300 bg-red-300 border border-gray-800 rounded-lg top-3 hover:bg-red-600 hover:text-white center"
                                    hx-target="#instructions-list"
                                    hx-post="/recipes/add/manual/instruction/1"
                                    hx-include="[name^='instruction']">
                                -
                            </button>
                            <button type="button"
                                    class="md:flex-initial bottom-0 right-0.5 md:w-7 md:h-7 md:right-auto w-10 h-10 text-center duration-300 bg-green-300 border border-gray-800 rounded-lg hover:bg-green-600 hover:text-white center"
                                    title="Shortcut: CTRL + Enter"
                                    hx-post="/recipes/add/manual/instruction"
                                    hx-target="#instructions-list"
                                    hx-swap="beforeend"
                                    hx-include="[name^='instruction']">
                                +
                            </button>
                        </div>
                        <div class="inline-block h-4 cursor-move handle">
                            <svg xmlns="http://www.w3.org/2000/svg" class="md:w-4 md:h-4 w-7 h-7" fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M7 16V4m0 0L3 8m4-4l4 4m6 0v12m0 0l4-4m-4 4l-4-4"/>
                            </svg>
                        </div>
                    </li>
                </ol>
            </fieldset>
        </div>
        <button type="submit"
                class="col-span-6 p-2 font-semibold text-white duration-300 bg-blue-500 hover:bg-blue-800">
            Submit
        </button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/html-duration-picker@latest/dist/html-duration-picker.min.js"></script>
    <script defer>
        htmx.onLoad(function () {
            const list = document.querySelector('#ingredients-list');
            new Sortable.create(list, {
                handle: '.handle',
                onEnd: function () {
                    Array.from(document.querySelectorAll("#ingredients-list input[name^='ingredient']")).forEach((d, i) => {
                        const n = i + 1;
                        d.name = `ingredient-${n}`;
                        d.placeholder = `Ingredient #${n}`;

                        const deleteButton = d.parentElement.nextElementSibling.nextElementSibling;
                        deleteButton.setAttribute('hx-post', `/recipes/add/manual/ingredient/${n}`);
                        htmx.process(deleteButton);
                    });
                }
            });
        });

        function handleKeyDownIngredient(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                const addButton = event?.target?.parentElement.nextElementSibling;
                if (addButton !== null) {
                    htmx.trigger(addButton, 'click');
                }
            }
        }

        function handleKeyDownInstruction(event) {
            if (event.ctrlKey && event.key === 'Enter') {
                event.preventDefault();
                const addButton = event?.target?.parentElement?.parentElement.querySelector('[hx-post="/recipes/add/manual/instruction"]');
                if (addButton !== null) {
                    htmx.trigger(addButton, 'click');
                }
            }
        }
    </script>
{{end}}

{{define "unsupported-website"}}
    <title hx-swap-oob="true">Unsupported Website | Recipya</title>

    <div class="flex h-[95vh] items-center justify-center">
        <article class="p-5 max-w-sm bg-white border border-gray-200 rounded-lg shadow-md md:max-w-md">
            <h3 class="mb-2 text-2xl font-bold tracking-tight">
                This website is not supported
            </h3>
            <p class="mb-3 text-gray-700">
                You can either request our team to support this website or go back to the previous page.
            </p>
            <form hx-post="/recipes/add/request-website" hx-target="#content" class="mt-4">
                <div class="grid grid-flow-col col-span-5 columns-4">
                    <a href="javascript:history.back()"
                       class="inline-flex items-center w-full col-span-1 p-2 font-semibold text-white bg-red-600 hover:bg-red-800">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-1" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z"/>
                        </svg>
                        Go back
                    </a>
                    <button name="website"
                            value="{{.Scraper.UnsupportedWebsite}}"
                            class="w-full col-span-4 ml-2 p-2 font-semibold text-white bg-blue-500 hover:bg-blue-800">
                        Request
                    </button>
                </div>
            </form>
        </article>
    </div>
{{end}}